asttokens
beautifulsoup4
black
boto3
botocore
comm
debugpy
decorator
executing
ipykernel
ipython
ipywidgets
jedi
joblib
jupyter_client
jupyter_core
jupyter-lsp
matplotlib
matplotlib-inline
micropip
multiprocess
nbformat
nest-asyncio
networkx
notebook
numpy
optuna
ortools
packaging
pandas
parso
pexpect
pillow
pingouin
platformdirs
plotly
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyomo
python-dateutil
pyzmq
regex
requests
scikit-learn
scipy
six
stack-data
tornado
tqdm
traitlets
tzdata
wcwidth
yfinance
