appnope
asttokens
beautifulsoup4
comm
debugpy
decorator
executing
ipykernel
ipython
jedi
jupyter_client
jupyter_core
matplotlib
matplotlib-inline
micropip
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pip
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
python-dateutil
pyzmq
regex
requests
scikit-learn
scipy
six
stack-data
tornado
traitlets
wcwidth
